# .NET Build-Ordner
bin/
obj/
debian_folder/

# VS Code Einstellungen & Cache
.vscode/
.vs/
dist/

# User-spezifische Einstellungen (wie deine gespeicherte IP für Tests)
*.user
settings.json


# Betriebssystem-Müll
.DS_Store
Thumbs.db
BingWallE/publish/bingwalle
BingWallE/publish/bingwalle.pdb
BingWallE/publish-linux/bingwalle
BingWallE/publish-linux/bingwalle.pdb
BingWallE/publish-win/bingwalle.exe
BingWallE/publish-win/bingwalle.pdb
